<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  {% load static %}
  <title>CRUD Simpel menggunakan Django</title>



  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">


  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">


  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="./">
        <div class="sidebar-brand-icon">
          <i class="fab fa-python"></i>
        </div>
        <div class="sidebar-brand-text mx-3">CRUD Simpel</div>
      </a>

      <hr class="sidebar-divider my-0">
      <hr class="sidebar-divider">

      <div class="sidebar-heading">
        Data
      </div>

      <li class="nav-item active">
        <a class="nav-link" href="./">
          <i class="fas fa-fw fa-table"></i>
          <span>Data Mahasiswa</span></a>
      </li>

      <hr class="sidebar-divider d-none d-md-block">

      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>

    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
        </nav>
        <div class="container-fluid">
          <h1 class="h3 mb-2 text-gray-800">CRUD Simpel menggunakan Django</h1>
          <p class="mb-4">Aplikasi Create, Read, Update, Delete Menggunakan Django Framework</p>
          <a href="inputdata/" class="btn btn-primary mb-2"><i class="fas fa-upload"></i> Tambah Data Mahasiswa</a>
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Data Mahasiswa Universitas X</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th style="width: 20px">No.</th>                      
                      <th>Nama</th>
                      <th>NIM</th>
                      <th>Fakultas</th>
                      <th>Jurusan</th>
                      <th style="width: 70px;">Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for tampilkandatanya in tampilkandata %}
                    <tr>
                      <td style="text-align: center">{{ forloop.counter }}</td>                      
                      <td>{{ tampilkandatanya.nama }}</td>
                      <td>{{ tampilkandatanya.nim }}</td>
                      <td>{{ tampilkandatanya.fakultas }}</td>
                      <td>{{ tampilkandatanya.jurusan }}</td>
                      <td style="text-align: center">
                        <a href="/hapusdata/{{ tampilkandatanya.id }}" class="btn btn-danger btn-sm" title="Hapus"><i class="fas fa-trash"></i></a>
                        <a href="/editdata/{{ tampilkandatanya.id }}" class="btn btn-primary btn-sm" title="Edit"><i class="fas fa-edit"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>developed by <b>indrijunanda</b></span>
          </div>
        </div>
      </footer>
    </div>

  </div>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>

</body>

</html>