<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  {% load static %}
  <title>CRUD Simpel menggunakan Django</title>
  <link href="{% static 'fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'datatable/datatables.min.css' %}" rel="stylesheet">

</head>

<body>
  <div class="container">
    <h4 class="mt-4">CRUD Simpel menggunakan Django</h4>
    <p class="mb-4">Aplikasi Create, Read, Update, Delete Menggunakan Django Framework</p>
    <a href="inputdata/" class="btn btn-primary mb-2"><i class="fas fa-upload"></i> Tambah Data Mahasiswa</a>
    <div class="card shadow-sm mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Data Mahasiswa Universitas X</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th style="width: 20px">No.</th>
                <th>Nama</th>
                <th>NIM</th>
                <th>Fakultas</th>
                <th>Jurusan</th>
                <th style="width: 70px;">Aksi</th>
              </tr>
            </thead>
            <tbody>
              {% for tampilkandatanya in tampilkandata %}
              <tr>
                <td style="text-align: center">{{ forloop.counter }}</td>
                <td>{{ tampilkandatanya.nama }}</td>
                <td>{{ tampilkandatanya.nim }}</td>
                <td>{{ tampilkandatanya.fakultas }}</td>
                <td>{{ tampilkandatanya.jurusan }}</td>
                <td style="text-align: center">
                  <a href="/editdata/{{ tampilkandatanya.id }}" class="btn btn-primary btn-sm" title="Edit"><i
                    class="fas fa-edit"></i></a>
                  <a href="/hapusdata/{{ tampilkandatanya.id }}" class="btn btn-danger btn-sm" title="Hapus"><i
                      class="fas fa-trash"></i></a>                  
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <footer class="mt-5 mb-3">
      <div class="container my-auto">
        <div class="text-center my-auto">
          <span>developed by <a href="https://indrijunanda.gitlab.io" target="_blank" style="color: #424242;"><b>indrijunanda</b><a></span>
        </div>
      </div>
    </footer> 
  </div>
 <script src="{% static 'jquery/jquery.slim.min.js' %}"></script>
 <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 <script src="{% static 'datatable/datatables.min.js' %}"></script> 
 <script>
   $(document).ready(function () {
     $('#dataTable').DataTable();
   });
 </script>

</body>

</html>